
body {
	background-color: #F5F5F5;
}

header {
	background-color: #555;
	color: #FFF;
	position: fixed;
	top: 0px;
	left: 0;
	right: 0;
	padding: 20px;
	z-index: 2;
}

header p {
	background-color: #333;
	margin: -20px;
	padding: 30px;
	float: left;
}

header a {
	background-color: #444;
	color: #FFF;
	font-family: Consolas;
	text-decoration: none;
	margin: 2px;
	padding: 10px;
	float: right;
	border-radius: 5px;
}

header a:hover {
	background-color: #666;
}

header a:active {
	background-color: #333;
}

header input[type="text"] {
	float: right;
	width: 30%;
	font-family: ubuntu mono;
	margin: 5px 10px 5px 10px;
	padding: 10px;
	border-radius: 10px;
	border: 0;
	transition: width 500ms ease-out;
}

header input[type="text"]:hover {
	width: 35%;
}

#profile-img {
	float: left;
	margin-right: 10px;
	border-radius: 25px;
	transition: transform 1s ease-out;
}

#profile-img:hover {
	transform: scale(2.0);
}

address {
	margin-top: 15px;
}

nav {
	background-color: rgba(70, 70, 70, 1);
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 70px;
	margin-top: 96px;
	padding-top: 150px;
	transition: width 250ms, background-color 500ms, border-radius 250ms;
	z-index: 1;
}

nav:hover {
	width: 400px;
	border-radius: 0 50px 50px 0;
	background-color: rgba(120, 120, 120, 0.5);
}

nav a {
	display: block;
	background-color: rgb(70, 70, 70);
	padding: 10px;
	margin: 20px 0 20px 0;
	border-radius: 15px;
	color: white;
	text-decoration: none;
	font-family: Verdana;
	white-space: nowrap;
	overflow: hidden;
	text-align: left;
	padding-left: 10px;
}

nav a span {
	display: none;
	overflow: hidden;
}

nav:hover a span {
	display: inline;
	text-shadow: 0 2px #000;
}

nav a .hide {
	display: inline;
	overflow: hidden;
}

nav:hover a .hide {
	display: none;
}

aside {
	float: right;
}

aside div {
	width: 470px;
	border: 1px solid #CCC;
	background-color: #E5E5E5;
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-radius: 25px;
}

aside div h3 {
	font-family: dejavu sans mono;
	background-color: #FFF;
	padding: 10px;
	border-radius: 0 0 40px 40px;	
	margin: auto;
	width: 300px;
	text-align: center;
}

figure {
	position: relative;
	width: 380px;
	border-radius: 15px;
	background-color: #FFF;
	padding: 10px;
	transition: transform 500ms;
}

#anon {
	object-fit: contain;
	width: 340px;
	margin: 10px;
	position: relative;
	background-color: #000;
	border-radius: 13px;
}

#caton {
	position: absolute;
	right: 2.5%;
}

#caton:active {
	display: none;
}

figure img {
	padding: 10px;
	border-radius: 25px;
}

figure:hover {
	transform: scale(1.05, 1.05);
}

figcaption {
	font-family: Verdana;
	font-size: 18px;
	text-align: center;
	width: 100%;
}

#comment-div {
	border: 1px solid #DDD;
	background-color: #FFF;
	padding-bottom: 0;
}

#comment-div div {
	border: 0;
	font-family: arial;
	border-radius: 0 30px 30px 30px;
	width: 300px;
	padding: 5px 20px;
	margin: 10px;
	margin-left: 20px;
}

#comment-div .pfp {
	float: left;
	margin: 5px 10px 10px 0;
}

@keyframes like-anim {
	0%		{transform: 0;}
	50%		{transform: rotate(25deg) scale(1.5, 1.5);}
	100%	{background-color: #77D;}
}

#comment-div .like {
	float: left;
	padding: 1px;
	background-color: #999;
	border-radius: 15px;
	
	animation-name: like-anim;
	animation-duration: 50ms;
	animation-fill-mode: forwards;
	
	animation-play-state: paused;
}

#comment-div .like:active {	
	animation-play-state: running;
}

#comment-div div h4 {
	margin: 10px 0 0 0;
}

#comment-div div h4::after {
	content:"";
	display: block;
	clear: both;
}

#comment-div div p {
	margin: 0 0 10px 40px;
	background-color: #FFF;
	border-radius: 20px;
	padding: 10px;
}

#comment-div input[type="text"] {
	position: relative;
	width: 91.5%;
	background-color: #444;
	color: #FFF;
	padding: 20px;
	border: 0;
	border-radius: 0 0 25px 25px;
}

article {
	width: 640px;
	background-color: #FFF;
	font-family: Verdana;
	margin: 150px 0 30px 100px;
	padding: 10px 50px;
	border: 1px solid #DDD;
	border-radius: 25px;
}

.bump {
	background-color: #EEE;
	font-size: 15px;
	padding: 4px;
	border-radius: 3px;
	}
		
abbr {
	font-style: italic;
	color: #880;
	text-decoration: none;
}

article p {
	font-size: 17px;
}

h1 {
	font-size: 40px;
	margin-bottom: 5px;
}

.language-html, .language-css {
	border-radius: 10px;
}

.button-box {
	display: flex;
}

.all-button {
	width: 100%;
	padding: 20px;
	margin: 10px;
}

#css-button {
	background-color: #E0E;
	color: #FFF;
	border-radius: 25px;
	border: 0;
	font-family: Verdana;
	box-shadow: 0px 10px #909;
	padding: 10px;
	transition: all 50ms;
}

#css-button:hover {
	transform: translate(0, -5px);
	box-shadow: 0px 15px #707;
	background-color: #C0C;
	cursor: pointer;
}

#css-button:active {
	transform: translate(0, 10px);
	box-shadow: 0px 0px #000;
	background-color: #A0A;
}

#css-link {
	background-color: #3B3;
	color: #FFF;
	border: 0;
	padding: 10px;
	text-decoration: none;
	border-radius: 10px;
	box-shadow: 0px 10px #393;
	font-family: Consolas;
	padding-top: 20px;
	transition: all 100ms;
}

#css-link:hover {
	transform: scale(1.1, 1.1);
	box-shadow: 0px 10px #4B4;
	background-color: #5D5;
	color: #000;
}

#css-link:active {
	transform: translate(0, 10px);
	box-shadow: 0px 0px #000;
	background-color: #191;
	color: #FFF;
}

a {
	text-align: center;
}

@keyframes color-anim {
	0%		{background-color: #F33; color: #FFF;}
	15%		{background-color: #FF3; color: #000;}
	30%		{background-color: #3F3; color: #000;}
	45%		{background-color: #3FF; color: #000;}
	60%		{background-color: #33F; color: #FFF;}
	75%		{background-color: #F3F; color: #FFF;}
	100%	{background-color: #F33; color: #FFF;}
}

@keyframes drop-anim {
	0%		{transform: none;}
	100%	{transform: rotate(-90deg) translate(-20px, 40px);}
}

#hov-sel:hover {
	animation-name: color-anim;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

#act-sel {
	display: inline-block;
}

#act-sel:active {
	animation-name: drop-anim;
	animation-duration: 50ms;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

#long {
	display:inline-block;
	transition: transform 500ms ease-out;
}

#long:hover {transform: scale(2, 0.8);}


.downloads {
	margin-top: 50px;

	ul {
		position: relative;
		padding: 20px;
		border-radius: 15px;
		background-color: #F5F5F5;
		list-style-type: none;
		
		li {display: inline;}

		a {
			position: absolute;
			font-family: ubuntu mono;
			background-color: #FFF;
			padding: 10px;
			border-radius: 10px;
			color: #000;
			top: 7%;
			margin-left: 150px;
			padding-left: 40px;
			text-decoration: none;
			border: 1px solid #EEE;
			box-shadow: 0px 5px #AAA;
			
			img {
				position: absolute;
				top: 8px;
				left: 8px;
			}
		}
		
		a:hover {background-color: #EEE;}
		
		a:active {
			background-color: #CCC;
			transform: translate(0, 5px);
			box-shadow: 0px 0px #000;
		}
	}
}


footer {
	position: absolute;
	background-color: #337;
	font-size: 13px;
	font-family: Consolas;
	left: 0;
	right: 0;
	color: #FFF;
	text-align: center;
	padding: 10px;
	margin-left: 60px;
	padding-left: 20px;
	
	p {
		margin: 0;
	}

	#contact {
		float: right;
	}

	#email {
		float: left;
	}
}